@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.page-header-logo {
  margin-right: 30px;
  position: absolute;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 168px;
  padding: 0;
  list-style: none;
  width: 520px;
}

.navigation-buttons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 268px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.navigation-link:hover,
.navigation-link:focus {
  background: rgba(104, 162, 202, 0.2);
}

.navigation-link:active {
  background: rgba(104, 162, 202, 0.2);
  color: rgba(0, 0, 0, 0.7);
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  content: "";
  height: 2px;
  position: absolute;
  background-color: #756257;
  bottom: -1px;
  left: 16px;
  right: 16px;
}

.navigation-buttons-link {
  display: block;
  padding: 22px 12px;
}

.navigation-search:hover,
.navigation-favorites:hover,
.navigation-search:focus,
.navigation-favorites:focus,
.navigation-search:active,
.navigation-favorites:active {
  transform: scale(1.2);
}

.navigation-search {
  background-image: url(../images/icons/search-icon.svg);
  width: 44px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.navigation-favorites {
  position: relative;
  background-image: url(../images/icons/favorite-icon.svg);
  width: 44px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.buttons {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
  padding: 8px 50px;
}

.buttons:hover,
.buttons:focus {
  background: #615048;
}

.buttons:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-buttons-link.buttons {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  padding: 8px 34px;
  min-width: 160px;
  border-radius: 4px;
}

.navigation-buttons-like {
  position: absolute;
  top: 11px;
  left: 20px;
  display: block;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  padding: 5px;
  padding-left: 4px;
}

.hero {
  background-image: url("../images/index-hero-zigzag.svg"), url("../images/index-hero-background.jpg");
  background-color: #5a788c;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, 100% auto;
  background-position: center bottom, center top;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-description-img {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 69px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  margin: 0 auto 25px;
}

.advantages-description {
  text-align: center;
  color: #333333;
  width: 651px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
}

.advantages-item h3 {
  margin: 0;
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
}

.advantages-item p {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-with-img {
  background: #82B3D3;
  display: flex;
  width: 100%;
}

.advantages-img {
  height: 100%;
  object-fit: cover;
}

.advantages-wrapper {
  padding: 112px 85px;
  min-width: 400px;
}

.advantages-with-img .advantages-wrapper {
  padding: 102px 85px;
}

.advantages-wrapper h3::after {
  content: "";
  width: 60px;
  height: 2px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-reverse {
  flex-direction: row-reverse;
}

.advantages-with-img p,
.advantages-with-img h3 {
  color: #FFFFFF
}

.advantages-with-img .advantages-wrapper h3::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-special {
  background: rgba(131, 179, 211, 0.2);
}

.services {
  padding-top: 64px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  box-sizing: border-box;
  padding: 80px 85px;
  width: 400px;
  text-align: center;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.services-description {
  text-align: center;
  color: #333333;
  width: 490px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.services-list li {
  background: rgba(131, 179, 211, 0.12);
}

.services-list .services-colorless {
  background: #FFFFFF;
}

.services-list h3 {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.services-list p {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.services-housing::before {
  content: "";
  display: block;
  background-image: url(../images/icons/home-icon.svg);
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.services-food::before {
  content: "";
  display: block;
  background-image: url(../images/icons/burger-icon.svg);
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.services-souvenir::before {
  content: "";
  display: block;
  background-image: url(../images/icons/gift-icon.svg);
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 297px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.search-description {
  text-align: center;
  color: #333333;
  width: 592px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  display: block;
  width: 376px;
  margin: 0 auto;
  border-radius: 4px;
}

.main-form {
  background-image: url("../images/subscribe-background.jpg");
  background-color: #5a788c;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.main-form-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.main-form-description {
  margin: 0 auto;
  width: 475px;
  color: #FFFFFF;
  margin-bottom: 54px;
}

.main-subscribe-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-width: 684px;
}

.main-subscribe-form input {
  background-color: #F2F2F2;
}

.subscribe-field {
  box-sizing: border-box;
  width: 452px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-field:hover {
  background-color: #E6E6E6;
}

.subscribe-field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.subscribe-field:active {
  background-color: #F2F2F2;
  outline: 2px solid #000000;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
  min-width: 232px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background: #68A2CA;
}

.page-footer {
  padding: 45px 70px 35px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-network:hover {
  background-color: #68A2CA;
}

.social-network:focus {
  background-color: rgba(104, 162, 202, 0.3);
}

.social-vk {
  display: block;
  width: 47px;
  height: 40px;
  -webkit-mask-image: url("../images/icons/vk-icon.svg");
  mask-image: url("../images/icons/vk-icon.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #83b3d3;
}

.social-telegram {
  display: block;
  width: 47px;
  height: 40px;
  -webkit-mask-image: url("../images/icons/telegram-icon.svg");
  mask-image: url("../images/icons/telegram-icon.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #83b3d3;
}

.social-youtube {
  display: block;
  width: 47px;
  height: 40px;
  -webkit-mask-image: url("../images/icons/youtube-icon.svg");
  mask-image: url("../images/icons/vk-icon.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #83b3d3;
}

.contacts-phone-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  display: block;
  width: 115px;
  height: 33px;
  -webkit-mask-image: url("../images/logo-html-academy.svg");
  mask-image: url("../images/logo-html-academy.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #000000;
}

.footer-logo:hover,
.footer-logo:focus {
  background-color: #756157;
}

.footer-logo:active {
  background-color: rgba(117, 97, 87, 0.3);
}


/*Модальное окно*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
  display: flex;
}

.modal-close {
  display: none;
}

.modal {
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  padding: 64px 70px;
  position: relative;
  margin: auto;
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../images/icons/cross-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  opacity: 0.3;
  background-color: #E6E6E6;
  outline: none;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  max-width: 120px;
}

.modal-input {
  border: none;
  background-color: #F2F2F2;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: inherit;
}

.modal-input:hover {
  background-color: #E6E6E6;
  color: rgba(0, 0, 0, 0.6);
}

.modal-input:focus {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
  color: rgba(0, 0, 0, 0.6);
}

.modal-input:active {
  outline: 2px solid #000;
  background-color: #F2F2F2;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input-date {
  background-image: url(../images/icons/calendar-icon.svg);
  background-repeat: no-repeat;
  background-position: 400px center;
  width: 440px;
  border-radius: 4px;
  padding: 12px 20px;
}

.modal-fields {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.modal-fields:not(:first-child) {
  margin-top: 23px;
}

.modal-fields-number {
  display: flex;
  align-items: center;
}

.number-button-wrapper {
  display: flex;
  background-color: #f2f2f2;
  margin-left: 46px;
  align-items: center;
  border-radius: 4px;
}

.input-number {
  width: 31px;
  text-align: center;
  padding: 14px 0;
  line-height: 20px;
}

.input-number-button {
  margin: 0;
  padding: 14px 10px;
  cursor: pointer;
  width: 40px;
  height: 48px;
  border: none;
}

.input-number:hover,
.input-number:focus,
.input-number:active {
  background-color: #f2f2f2;
  color: #000000;
}

.input-number-button:hover {
  background-color: rgba(0, 0, 0, 1);
}

.input-number-button:focus {
  background-color: rgba(0, 0, 0, 1);
}

.input-number-button:active {
  background-color: rgba(117, 97, 87, 0.30);
}

.reduce-button {
  -webkit-mask-image: url("../images/icons/minus-icon.svg");
  mask-image: url("../images/icons/minus-icon.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  background-color: rgba(117, 97, 87, 0.30);
}

.increase-button {
  -webkit-mask-image: url("../images/icons/plus-icon.svg");
  mask-image: url("../images/icons/plus-icon.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: rgba(117, 97, 87, 0.30);
}

.tooltip {
  margin-left: 10px;
  position: relative;
}

.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  margin: 0;
  display: block;
  padding: 7px 12px;
  border-radius: 50%;
}

.tooltip-icon {
  background-image: url(../images/icons/information-icon.svg);
  width: 2px;
  height: 12px;
  display: block;
}

.tooltip-text {
  font-family: "PT Sans", sans-serif;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  padding: 21px 18px 18px 22px;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  width: 256px;
  min-height: 143px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 41px;
  display: none;
}

.tooltip-text::before {
  content: "";
  display: block;
  background-image: url(../images/icons/tooltip-arrow.svg);
  background-repeat: no-repeat;
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  right: 119px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.modal-fields-comment {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  padding-left: 157px;
  padding-top: 4px;
}

.fields-comment-error {
  color: #FF5757;
}

.modal-button {
  border: none;
  margin: 0;
  margin-top: 48px;
  background-color: #83B3D3;
  border-radius: 10px;
  width: 577px;
  padding: 18px 77px;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #68A2CA;
}

.modal-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

/*Каталог*/

.filter-background {
  background-image: url("../images/filter-background.jpg");
  background-color: #5a788c;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding: 35px 70px 70px;
  box-sizing: border-box;
  min-height: 412px;
}

.inner-header {
  width: 1060px;
  margin: 0 auto 40px;
}

.inner-header-title {
  margin: 0 auto 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/next-icon.svg");
  right: -18px;
  top: 5px;
  width: 7px;
  height: 10px;
}

.breadcrumbs-item:last-child::before {
  content: none;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-home {
  width: 12px;
  height: 20px;
  background-image: url("../images/icons/breadcrumbs-home-icon.svg");
  background-repeat: no-repeat;
  background-position: center 3px;
}

.breadcrumbs-home:hover {
  opacity: 0.6;
}

.breadcrumbs-home:active {
  opacity: 0.3;
}

.hotel-list {
  width: 1060px;
  margin: 0 auto;
}

.hotel-filter-group {
  width: 170px;
  margin: 0;
  padding: 0;
  margin-right: 50px;
  border: none;
}

.hotel-filter-type {
  margin-right: 122px;
}

.hotel-filter-price {
  width: 288px;
  margin-right: 70px;
}

.hotel-filter {
  display: flex;
}

.hotel-filter-list {
  margin: 0;
  padding: 0;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 32px;
}

.hotel-filter-item {
  list-style: none;
  margin: 0 auto 16px;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
}

.hotel-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  position: relative;
  padding-left: 36px;
}

.control:hover {
  opacity: 0.6;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
  background-color: #ffffff;
}

.control:active {
  opacity: 0.3;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/check-mark-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/marker-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
  position: relative;
}

.filter-price {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  line-height: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.price-from {
  left: 107px;
}

.price-to {
  right: 20px;
}

.price-input {
  width: 143px;
  padding: 12px 40px 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
}

.price-input:hover {
  background-color: #e6e6e6;
}

.price-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.price-input:active {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input-price-min {
  border-radius: 4px 0 0 4px;
}

.input-price-max {
  border-radius: 0 4px 4px 0;
}

.range {
  position: relative;
  height: 4px;
  margin-bottom: 8px;
  background-color: #6e7576;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.filter-buttons-wrapper {
  display: flex;
  flex-direction: column;
  width: 191px;
  padding-top: 56px;
}

.filter-buttons {
  border: none;
  border-radius: 4px;
  word-break: break-word;
}

.apply-button {
  margin-bottom: 32px;
  background: #82b3d3;
}

.apply-button:hover,
.apply-button:focus {
  background: #68A2CA;
}

.reset-button {
  background: transparent;
}

.reset-button:hover {
  background: transparent;
  color: rgba(255, 255, 255, 0.4);
}


.reset-button:focus {
  background: transparent;
  outline: 3px solid #83b3d3;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.found-hotels {
  padding: 50px 70px 60px;
}

.found-hotels-wrapper {
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.found-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.found-hotels-option {
  padding: 0;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  width: 292px;
  margin-right: 70px;
  margin-left: auto;
  padding: 12px 18px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  position: relative;
  background-image: url(../images/icons/down-icon.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  outline: 2px solid #68a2ca;
}

.select-control:active {
  outline: 2px solid #3F5E72;
}

.view-switcher-list {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.button-view {
  padding: 14px 12px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
}

.button-view:hover,
.button-view:active {
  border: 2px solid #000000;
}

.button-view:focus {
  border: 2px solid #68A2CA;
}

.button-view-current {
  border: 2px solid #000000;
}

.button-view-current:active {
  border: 2px solid #68A2CA;
}

.button-view-card {
  background-image: url(../images/icons/view-type-card.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-view-screen {
  background-image: url(../images/icons/view-type-screen.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-view-list {
  background-image: url(../images/icons/view-type-list.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.hotels-list {
  margin: 0 auto 39px;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.hotels-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  width: 340px;
  padding: 20px;
  border-radius: 4px;
  outline: 1px solid #E6E6E6;
}

.hotels-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotels-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotels-card-type {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 140px;
}

.hotels-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
  width: 140px;
  letter-spacing: -0.01em;
}

.hotels-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  width: 140px;
  padding: 9px 22px 8px 23px;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin: 0;
}

.hotels-card-button {
  padding: 8px 20px;
  width: 140px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  word-break: break-word;
}

.favorites-button {
  background-color: #82B3D3;
  border: none;
}

.favorites-button:hover,
.favorites-button:focus {
  background: #68A2CA;
}

.favorites-add {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.favorites-add:hover,
.favorites-add:focus {
  background: #6C9E42;
}

.hotels-card-stars {
  margin: 10px 0;
  height: 17px;
  background: url(../images/icons/star-icon.svg) space;
}

.four-stars {
  width: 89px;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 42px;
}

.pagination {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  padding: 0 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background: #68A2CA;
}

.pagination-link:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.30);
}

.pagination-link-absent {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 16px 22px;
  font-size: 22px;
  line-height: 26px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  background: #F2F2F2;
  color: #000000;
}


.catalog-form {
  background: #ffffff;
}

.catalog-form-title {
  color: #000000;
}

.catalog-form-description {
  color: #333333
}
