@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.page-header-logo {
  margin-right: 30px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 500px;
}

.navigation-buttons-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 268px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.buttons {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
}

.hero {
  background-image: url("../images/index-hero-zigzag.svg"), url("../images/index-hero-background.jpg");
  background-color: #5a788c;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, 100% auto;
  background-position: center bottom, center top;
}

.hero-description-img {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  margin: 25px auto;
}

.advantages-description {
  text-align: center;
  color: #333333;
  width: 651px;
  margin: 90px auto;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-with-img {
  background: #82B3D3;
  display: flex;
  width: 100%;
}

.advantages-reverse {
  flex-direction: row-reverse;
}

.advantages-with-img p,
.advantages-with-img h3 {
  color: #FFFFFF
}

.advantages-special {
  background: rgba(131, 179, 211, 0.2);
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.services-item {
  width: 400px;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 505px;
  margin: 20px auto;
}

.services-description {
  text-align: center;
  color: #333333;
  width: 490px;
  margin: 64px auto;
}

.services-list li {
  background: rgba(131, 179, 211, 0.12);
}

.services-list .services-colorless {
  background: #FFFFFF;
}

.services-list p {
  color: #333333;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 297px;
  margin: 20px auto;
}

.search-description {
  text-align: center;
  color: #333333;
  width: 592px;
  margin: 54px auto;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  display: block;
  width: 376px;
  margin: 0 auto;
}

.main-form {
  background-image: url("../images/subscribe-background.jpg");
  background-color: #5a788c;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-form-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-form-description {
  text-align: center;
  color: #FFFFFF;
}

.main-subscribe-form {
  margin: 0 auto;
  width: 684px;
}

.main-subscribe-form input {
  background-color: #F2F2F2;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.social-list {
  width: 142px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.contacts-phone {
  display: block;
  margin: 0 auto;
  width: 331px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000
}

.footer-logo {
  display: block;
  width: 115px;
  margin: 0 auto;
}


/*Каталог*/

.filter-background {
  background-image: url("../images/filter-background.jpg");
  background-color: #5a788c;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.hotel-list {
  width: 1060px;
  margin: 0 auto;
}

.hotel-filter-group {
  width: 170px;
  margin: 0;
  padding: 0;
  margin-right: 50px;
  border: none;
}

.hotel-filter-type {
  margin-right: 120px;
}

.hotel-filter-price {
  width: 288px;
  margin-right: 70px;
}

.hotel-filter {
  display: flex;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.hotel-filter-item {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
}

.filter-buttons-wrapper {
  display: flex;
  flex-direction: column;
  width: 191px;
}

.found-hotels-wrapper {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.found-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 200px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  margin-right: 70px;
}

.view-switcher-list {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-list {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotels-card {
  width: 340px;
}

.hotels-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.hotels-card-type {
  font-size: 18px;
  line-height: 21px;
  color: #333333
}

.hotels-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333
}

.hotels-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333
}

.favorites-button {
  background-color: #82B3D3;
}

.favorites-add {
  background-color: #7DB54F;
}

.pagination {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2
}

.catalog-form {
  background: #ffffff;
}

.catalog-form-title {
  color: #000000;
}

.catalog-form-description {
  color: #333333
}
